<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message/>
                <logLevel/>
                <logLevelValue/>
                <pattern>
                    <pattern>
                        {
                        "appname": "theappname",
                        "myCustomField": "fieldValue",
                        "environment": "theenv"
                        }
                    </pattern>
                </pattern>
                <tags/>
                <nestedField>
                    <fieldName>@metadata</fieldName>
                    <providers>
                        <logstashMarkers/>
                        <arguments/>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>@context</fieldName>
                    <providers>
                        <loggerName/>
                        <threadName/>
                        <callerData/>
                        <context/>
                        <stackTrace/>
                    </providers>
                </nestedField>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <logger name="com.base22" level="INFO"/>

    <logger name="net.ghostlab.instrumentation.application.Application" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>
</configuration>